/* for navbar in header.ejs */
#profile-photo-span {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 33px;
}

#profile-photo-img {
  border-color: #e7f2f8 !important;
  border-width: 3px !important;
}

#profile-photo-img:hover {
  border-width: 3px !important;
  border-color: #ffa384 !important;
}
/* ----------------------------------------- */

body {
  background-color: #efefef;
  padding-top: 65px;
  padding-bottom: 40px;
}

/* uncomment the css for body below when jquery navbar is not working */
/* body {
  padding-top: 160px;
} */

#consultation-details-heading {
  margin-top: 1rem;
  text-align: center;
}

#general-details-form-container,
#diagnosis-container,
#prescriptions-container,
#consultation-fees-container,
#chat-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 20px;
  border-color: #ffa384;
  border-width: 1px;
  border-style: dotted;
  border-radius: 1rem;
  background-color: #e7f2f8;
}

h6 {
  margin-bottom: 0;
}

h5 {
  margin-bottom: 1rem;
}

#invalid-messages-list {
  color: red;
}

input,
textarea {
  border-color: #ffa384 !important;
}

.btn {
  margin-top: 0.5rem;
}

.btn-primary {
  border: none;
  background-color: #d8c775;
  color: #fff;
}

.btn-primary:hover {
  background-color: #3b8796;
}

#prescriptions-container h6 {
  margin-bottom: 1rem;
}

.prescription-div {
  padding: 5px;
  border-width: 1px;
  border-style: dotted;
  border-radius: 0.5rem;
  border-color: #ffa384;
}

.prescription-div div {
  margin-bottom: 10px;
}

#new-prescription-div {
  margin-top: 1rem;
}

#new-prescription-div div {
  margin-bottom: 10px;
}

.messages-container {
  max-height: 400px;
}

.message-div {
  background-color: #efefef;
  display: inline-block;
  margin-bottom: 1rem;
  padding: 5px;
  border-width: 1px;
  border-style: dotted;
  border-radius: 0.5rem;
  border-color: #ffa384;
}

.message-div p {
  margin-bottom: 0.2rem;
}

#end-consult-container {
  padding: 20px;
}

/* for bootstrap col-sm */
@media (min-width: 576px) {
}

/* for bootstrap col-md */
@media (min-width: 768px) {
  body {
    padding-top: 65px;
  }
}

/* for bootstrap col-lg */
@media (min-width: 992px) {
  #form-container {
    width: 900px;
  }
}

/* for bootstrap col-xl */
@media (min-width: 1200px) {
}
