body {
  padding-top: 70px;
  padding-bottom: 40px;
}

#top-logo {
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
}

#form-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

#invalid-message {
  color: red;
  text-align: center;
}

input {
  border-color: rgb(0, 183, 255) !important;
}

.form-group,
p,
a {
  padding-left: 10px;
  padding-right: 10px;
}

#brand-icon {
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-bottom: 7px;
}

h4,
h5 {
  text-align: center;
}

h5 {
  color: rgb(0, 153, 255);
}

.btn {
  margin-left: 10px;
}

h1 {
  text-align: center;
}

#text-item-input {
  height: 200px;
}

#messages-container {
  height: 300px;
  white-space: normal;
  overflow: auto;
}

@media (min-width: 992px) {
  #form-container {
    width: 900px;
  }
}
