/* for navbar in header.ejs */
#profile-photo-span {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 33px;
}

#profile-photo-img {
  border-color: #a1dbf1 !important;
  border-width: 3px !important;
}

#profile-photo-img:hover {
  border-width: 3px !important;
  border-color: #00b6bc !important;
}
/* ----------------------------------------- */

body {
  background-color: #efefef;
  padding-top: 65px;
  padding-bottom: 40px;
}

/* uncomment the css for body below when jquery navbar is not working */
/* body {
  padding-top: 160px;
} */

#new-consult-row {
  background: linear-gradient(rgba(124, 89, 89, 0.5), rgba(0, 0, 0, 0.5)),
    url("/new-consult-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  background-position: 30% 30%;
}

#new-consult-message {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

#dashboard-heading {
  margin-top: 0.5rem;
}

#see-all-consults-link-col {
  display: flex;
  justify-content: flex-end;
}

#consults-badge,
#see-all-consults-link {
  font-size: 0.5rem;
}

.consultations-container {
  max-height: 400px;
}

.consultation-anchor {
  color: inherit;
  text-decoration: none;
}

.consultation-anchor:hover {
  color: #00b6bc;
  text-decoration: none;
  cursor: pointer;
}

.consultation-container {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e4f4f3;
}

.consultation-container p {
  margin-bottom: 0;
}

.consultation-date-col {
  margin-top: 0.5rem;
  border-color: #17a2b8;
  border-width: 1px;
  border-top-style: dotted;
  padding-top: 0.5rem;
}

.consultation-date {
  font-style: italic;
  font-size: 0.8rem;
}

/* for bootstrap col-sm */
@media (min-width: 576px) {
  #see-all-consults-link {
    font-size: 0.75rem;
  }

  #consults-badge {
    font-size: 75%;
  }
}

/* for bootstrap col-md */
@media (min-width: 768px) {
  body {
    padding-top: 65px;
  }
}

/* for bootstrap col-lg */
@media (min-width: 992px) {
}

/* for bootstrap col-xl */
@media (min-width: 1200px) {
}
