/* profile photo is in header.ejs */
#profile-photo-span {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 33px;
}

body {
  padding-top: 65px;
  padding-bottom: 40px;
}

/* uncomment the css for body below when jquery navbar is not working */
/* body {
  padding-top: 160px;
} */

#profile-photo {
  background-size: cover;
  background-repeat: no-repeat;
}

#profile-photo-div {
  max-width: 227px;
}

#form-container {
  padding: 20px;
}

input,
textarea {
  border-color: rgb(0, 183, 255) !important;
}

#brand-icon {
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-bottom: 7px;
}

h5 {
  color: rgb(0, 153, 255);
}

#invalid-messages-list {
  color: red;
}

@media (min-width: 992px) {
  #form-container {
    max-width: 900px;
  }
}
