/* for navbar in header.ejs */
#profile-photo-span {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 33px;
}

#profile-photo-img {
  border-color: #a1dbf1 !important;
  border-width: 3px !important;
}

#profile-photo-img:hover {
  border-width: 3px !important;
  border-color: #00b6bc !important;
}
/* ----------------------------------------- */

body {
  background-color: #efefef;
  padding-top: 65px;
  padding-bottom: 40px;
}

/* uncomment the css for body below when jquery navbar is not working */
/* body {
  padding-top: 160px;
} */

#consultation-details-heading {
  margin-top: 1rem;
  text-align: center;
}

#general-details-form-container,
#prescriptions-container,
#consultation-fees-container,
#chat-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 20px;
  border-color: #ffa384;
  border-width: 1px;
  border-style: dotted;
  border-radius: 1rem;
  background-color: #e7f2f8;
}

h6 {
  margin-bottom: 0;
}

h5 {
  margin-bottom: 1rem;
}

input,
textarea {
  border-color: #00b6bc !important;
}

.btn {
  margin-top: 0.5rem;
}

#prescriptions-container h6 {
  margin-bottom: 1rem;
}

.prescription-div {
  padding: 5px;
  border-width: 1px;
  border-style: dotted;
  border-radius: 0.5rem;
  border-color: #ffa384;
}

#update-status-button-container-container {
  padding: 20px;
}

.messages-container {
  max-height: 400px;
}

.message-div {
  background-color: #efefef;
  display: inline-block;
  margin-bottom: 1rem;
  padding: 5px;
  border-width: 1px;
  border-style: dotted;
  border-radius: 0.5rem;
  border-color: #ffa384;
}

.message-div p {
  margin-bottom: 0.2rem;
}

/* for bootstrap col-sm */
@media (min-width: 576px) {
}

/* for bootstrap col-md */
@media (min-width: 768px) {
  body {
    padding-top: 65px;
  }
}

/* for bootstrap col-lg */
@media (min-width: 992px) {
  #general-details-form-container,
  #prescriptions-container,
  #consultation-fees-container,
  #chat-container {
    width: 900px;
  }
}

/* for bootstrap col-xl */
@media (min-width: 1200px) {
}
