body {
  padding-top: 20px;
  padding-bottom: 40px;
}

#form-container {
  padding: 20px;
}

#brand-heading {
  color: rgb(0, 153, 255);
}

#brand-icon {
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-bottom: 7px;
}

#invalid-messages-list {
  color: red;
}

input,
textarea {
  border-color: rgb(0, 183, 255) !important;
}

/* for bootstrap col-lg */
@media (min-width: 992px) {
  #form-container {
    width: 900px;
  }
}
